body {
  background-color: #342753;
  font-family: 'Kalnia Glaze', cursive; /* fallback for mobile */
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 30px;
  font-family: 'Kalnia Glaze', cursive;
  text-shadow: 5px 0 #ff0000;
  font-size: 6rem;
  color: #ff0000;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Emilys Candy', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Emilys Candy', cursive;
}
